{% extends 'padre.html' %}

{% block contenidoQueCambia %}

    <diV class="contenido">
        <h1 class="titulo">Discografia</h1>
            <ul>
                {% for disco in discos %}
                    <li>{{ discos.titulo }} - {{ discos.año_lanzamiento }} - {{ discos.portada }}</li>
                    <li><a href="{{ evento.boton_compra }}" class="buttonCustom" target="_blank">Comprar boleto</a></li>                    
                {% endfor %}  
            </ul>
    </diV>

   
{% endblock contenidoQueCambia %}